.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Added css*/
.AppContainer
{ 
    margin: auto;
    width: 50%; 
}
.dataContainer{
  width: 100%;
  border: 2px solid #8ebf42;
  text-align: center;
  background-color: #d9d9d9;
  margin-top: 50px;
}
.dataContainer td.dataContainerColumn {
  border: 10px groove #1c87c9;
  font-weight: 600;
}
.dataContainer td.dataContainerManipulate {
  background-color: red;
  color: #fff;
  font-weight: 700;
}
.submitButton button{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
